<div
  class="embla__slide"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Embla slider slide",
  "tag": null,
  "settings": [
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Embla slider slide",
      "category": "Custom"
    }
  ]
}
{% endschema %}
